.button {
	padding: 6px 24px;
	background: hsl(0,0,100);
	border-radius: 24px;
	cursor: pointer;
	font-size: 14px;
	&:hover {
		background: hsl(0,0,90);
	}
}
.button--default {
	background: #F44336;
	color: white;
	&:hover {
		background: darken(#F44336, 10%);
	}
}
.button--large {
	font-size: 18px;
}