header {
	width: 100%;
	background: #F44336;
	height: $header-height;
  margin-bottom: 48px;
  padding: 12px;
}
.header__login-container {
  float: right;
  a {
    font-size: 14px;
    color: hsl(0,0,98);
    border: 1px solid hsl(0,0,98);
    padding: 4px 12px;
    border-radius: 14px;
    margin-right: 4px;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      background: hsl(0,0,98);
      color: hsl(0,0,20);
    }
  }
}