header {
	width: 100%;
	background: $h-red;
	height: $header-height;
  padding: 32px;
  margin-bottom: $header-margin;
}
.header__login-container {
  float: right;
  a {
    font-size: 14px;
    color: hsl(0,0,98);
    border: 1px solid hsl(0,0,98);
    padding: 4px 12px;
    border-radius: 14px;
    margin-right: 12px;

    &:hover {
      background: hsl(0,0,98);
      color: hsl(0,0,20);
    }
  }
}