.profile-card {
	width: 100%;
	float: left;
	background: hsl(0,0,95);
	border: 1px solid hsl(0,0,90);
	border-radius: 4px;
	margin-bottom: 24px;
	position: relative;
}
.profile-card__header {
	clear: both;
	overflow: hidden;
	background: hsl(0,0,90);
	padding: 12px 12px;
	position: relative;
}
.profile-card__body {
	padding: 24px 12px;
}

.profile-card__footer {
	border-top: 1px solid hsla(0,0,0,.1);
	padding: 12px;
}
.profile-card__title, .profile-card__subtitle {
	width: calc(100% - 132px;);
	float: left;
}

.profile-card__tags {
	margin-bottom: 8px;


}

.profile-card__talent {
	display: inline;
	font-size: 12px;
	border: 1px solid $h-blue;
	padding: 2px 8px;
	border-radius: 4px;
	margin-right: 4px;
}
.profile-card__subtalent {
	display: inline;
	font-size: 12px;
	border: 1px solid hsla(0,0,0,.1);
	border-radius: 4px;
	padding: 2px 8px;
	color: hsl(0,0,10);
	margin-right: 6px;
}
.profile-card__picture {
	width: 120px;
	height: 120px;
	margin-right: 12px;

	float: left;

	border-radius: 100%;
}

.profile-card__name {
	font-size: 18px;
	line-height: 18px;
	vertical-align: top;
	font-weight: 700;
	margin-right: 8px;
	display: inline-block;
	margin-bottom: 36px;
}
.profile-card__location {
	line-height: 18px;
	vertical-align: top;
	color: $h-green;;
	margin-bottom: 24px;
	font-size: 12px;
	border: 1px solid $h-green;
	display: inline-block;
	border-radius: 4px;
	padding: 0 8px;

	i {
		font-size: inherit;
		margin-right: 2px;	
		vertical-align: bottom;
		line-height: inherit;
	}
}
.profile-card__rating {
	display: inline;
	text-align: center;
	position: absolute;
	top: 12px;
	right: 12px;
}
.profile-card__rating-stars {
	display: inline-block;
	i {
		font-size: 18px;
		color: #F44336;
		&.md-inactive {
			color: hsl(0,0,85);
		}
	}
}
.profile-card__rating-count {
	color: hsl(0,0,60);
	font-size: 12px;
}

.profile-card__description {
	// background: hsl(0,0,98);
	// border: 1px solid hsl(0,0,90);
	// padding: 12px;
	border-radius: 4px;
	font-size: 16px;
	p {
		padding: 0;
		margin: 0;
	}
}
.profile-card__price {
	display: inline-block;
	width: 100%;
	background: hsl(0,0,98);
	padding: 4px 12px;
	border-radius: 4px;

	text-align: left;
	color: hsl(0,0,10);
}
.profile-card__minprice {
	font-size: 18px;
	font-weight: 700;
	display: inline;
}
.profile-card__unit {
	font-size: 14px;
	display: inline;
}
.profile-card__actions {
	float: left;
	width: 100%;
	position: relative;
	text-align: right;
	.button {

	}
}