.profile-card {
	width: 100%;
	background: hsl(0,0,95);
	border: 1px solid hsl(0,0,90);
	border-radius: 4px;
	margin-bottom: 24px;
	position: relative;
}
.profile-card__header {
	clear: both;
	overflow: hidden;
	background: hsl(0,0,90);
	padding: 12px 12px;
	position: relative;
}
.profile-card__body {
	padding: 12px 12px 24px;
}
.profile-card__title, .profile-card__subtitle {
	width: calc(100% - 108px;);
	float: left;
}

.profile-card__tags {
	margin-bottom: 12px;

}

.profile-card__talent {
	display: inline;
	font-size: 10px;
	background: #2196F3;
	border: 1px solid hsla(0,0,0,.1);
	border-radius: 4px;
	padding: 2px 8px;
	color: hsl(0,0,98);
	text-transform: uppercase;
	margin-right: 6px;
}
.profile-card__subtalent {
	display: inline;
	font-size: 10px;
	background: hsl(0,0,95);
	border: 1px solid hsla(0,0,0,.1);
	border-radius: 4px;
	padding: 2px 8px;
	color: hsl(0,0,10);
	text-transform: uppercase;
	margin-right: 6px;
}
.profile-card__picture {
	width: 96px;
	height: 96px;
	margin-right: 12px;

	float: left;

	border-radius: 100%;
}

.profile-card__name {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 4px;
	margin-right: 4px;
	display: inline;
}
.profile-card__location {
	position: absolute;
	bottom: 12px;
	right: 12px;
	display: inline;
	font-size: 12px;
	padding: 2px 8px;
	border-radius: 12px;
	border: 1px solid #4CAF50;
	color: #4CAF50;
	i {
		font-size: inherit;
		margin-right: 2px;	
		vertical-align: bottom;
		line-height: 18px;
	}
}
.profile-card__rating {
	display: inline;
	text-align: center;
	position: absolute;
	top: 12px;
	right: 12px;
}
.profile-card__rating-stars {
	display: inline-block;
	i {
		font-size: 18px;
		color: #F44336;
		&.md-inactive {
			color: hsl(0,0,85);
		}
	}
}
.profile-card__rating-count {
	color: hsl(0,0,60);
	font-size: 12px;
}

.profile-card__description {
	background: hsl(0,0,98);
	border: 1px solid hsl(0,0,90);
	border-radius: 4px;
	font-size: 16px;
	padding: 12px;
	margin-bottom: 24px;
	p {
		padding: 0;
		margin: 0;
	}
}
.profile-card__price {
	display: inline;
	width: 130px;
	background: hsl(0,0,98);
	padding: 4px 12px;
	border-radius: 4px;

	text-align: center;
	color: hsl(0,0,10);
}
.profile-card__minprice {
	font-size: 14px;
	font-weight: 700;
	display: inline;
}
.profile-card__unit {
	font-size: 12px;
	display: inline;
}
.profile-card__actions {
	float: left;
	width: 100%;
	position: relative;
	text-align: right;
	.button {

	}
}