
.sidebar {
	background: #607D8B;
  height: calc(100% - #{$header-height});
  width: 96px;
  position: absolute;
  left: 0;
  top: $header-height;
}

.nav-item{
  width: 72px;
  height: 72px;
  border-radius: 36px;
  background: hsl(0,0,98);
  text-align: center;
  margin: 12px 12px 24px;
}

.nav-item i {
  font-size: 36px;
  line-height: 72px;
}

.nav-item-link {
  cursor: pointer;
}

.nav-item-label {
  display: none;
}
.nav-item.food {
  background: #FF5722;
  color: hsl(0,0,98);
  &:hover {
    background: darken(#FF5722,10%)
  }
}
.nav-item.photography {
  background: #E91E63;
  color: hsl(0,0,98);
  &:hover {
    background: darken(#E91E63,10%)
  }
}
.nav-item.venue {
  background: #4CAF50;
  color: hsl(0,0,98);
  &:hover {
    background: darken(#4CAF50,10%)
  }
}
.nav-item.music {
  background: #3F51B5;
  color: hsl(0,0,98);
  &:hover {
    background: darken(#3F51B5,10%)
  }
}